@tailwind base;
@tailwind components;
@tailwind utilities;

.form-field {
  @apply w-full rounded border-gray placeholder-gray shadow focus:ring-2 valid:focus:text-cyan valid:focus:ring-cyan invalid:focus:border-transparent invalid:focus:ring-red;
}
.form-error {
  @apply absolute left-0 top-full p-1 text-xs font-bold text-red;
}
:root {
  --Cyan: 180, 66%, 49%;
  --Dark-Violet: 257, 27%, 26%;

  --Red: 0, 87%, 67%;
  --White: 120, 99%, 99%;
  --Gray: 0, 0%, 75%;
  --Grayish-Violet: 257, 7%, 63%;
  --Very-Dark-Blue: 255, 11%, 22%;
  --Very-Dark-Violet: 260, 8%, 14%;
}
.bg-shorten-link {
  background: linear-gradient(
    to top,
    hsla(var(--Gray), 20%) 50%,
    hsla(var(--White)) 50%
  );
}
.remove_scroll_bar {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.remove_scroll_bar::-webkit-scrollbar {
  display: none;
}
html,
body,
#root {
  min-height: 100vh;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  display: none;
}
